body {
    background-color: red;
}

@font-face {
    font-family: 'Stem-regular';
    src: url('/src/fonts/stem-new/Stem-regular/Stem-regular.woff2') format('woff2'),
    url('/src/fonts/stem-new/Stem-regular/Stem-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Stem-light';
    src: url('/src/fonts/stem-new/Stem-light/Stem-light.woff2') format('woff2'),
    url('/src/fonts/stem-new/Stem-light/Stem-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Stem-extra-light';
    src: url('/src/fonts/stem-new/Stem-extra-light/Stem-extra-light.woff2') format('woff2'),
    url('/src/fonts/stem-new/Stem-extra-light/Stem-extra-light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Stem-light-italic';
    src: url('/src/fonts/stem-new/Stem-light-italic/Stem-light-italic.woff2') format('woff2'),
    url('/src/fonts/stem-new/Stem-light-italic/Stem-light-italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Stem-extra-light-italic';
    src: url('/src/fonts/stem-new/Stem-extra-light-italic/Stem-extra-light-italic.woff2') format('woff2'),
    url('/src/fonts/stem-new/Stem-extra-light-italic/Stem-extra-light-italic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Marianna';
    src: url('/src/fonts/marianna-regular/marianna-regular.ttf') format('truetype'),
    url('/src/fonts/marianna-regular/marianna-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}