@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @apply text-dark font-stem-regular bg-light
}
img {
    width: 100%;
    height: auto;
}

input[type=checkbox], input[type=radio], label {
    cursor: pointer;
}

@layer utilities {

    /* --- colors ---*/

    .light {
        @apply text-light;
    }
    .dark {
        @apply text-dark;
    }
    .semi-dark {
        @apply text-semi-dark;
    }
    .primary {
        @apply text-primary;
    }

    .secondary {
        @apply text-secondary;
    }
    .accent {
        @apply text-accent;
    }
    .accent {
        @apply text-accent;
    }
    .grey {
        @apply text-grey;
    }
    .semi-grey {
        @apply text-semi-grey;
    }
    .deep-grey {
        @apply text-deep-grey;
    }
    .light-grey {
        @apply text-light-grey;
    }
    .lighter-grey {
        @apply text-lighter-grey;
    }

    /*--- positions ---*/

    .flex-center {
        @apply flex justify-center items-center;
    }
    .flex-between {
        @apply flex justify-between items-center;
    }
    .flex-start {
        @apply flex justify-start items-center;
    }

    .section {
        @apply my-14 md:my-20 xl:my-[104px] 2xl:my-[160px]
    }

    .container-padding {
        @apply px-5 md:px-10 xl:px-20 2xl:px-[120px] max-w-screen-2xl m-auto
    }

    .absolute-center {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
    }

    /*--- text ---*/

    .text-10-300 {
        @apply font-stem-extra-light text-[10px] 2xl:text-[14px] font-extralight leading-[160%] 2xl:leading-[157%] tracking-[0.42px] 2xl:tracking-[0.48px]
    }

    .text-10-350-header {
        @apply font-stem-regular text-[10px] 2xl:text-[14px] font-normal leading-[140%] 2xl:leading-[160%] tracking-[0.3px] 2xl:tracking-[0.42px] opacity-70
    }

    .text-10-400 {
        @apply font-stem-light text-[10px] 2xl:text-[14px] font-normal leading-[160%] 2xl:leading-[157%] tracking-[0.42px] 2xl:tracking-[0.48px]
    }

    .text-12-400-header {
        @apply font-stem-light text-[12px] 2xl:text-[14px] font-normal leading-normal 2xl:leading-[157%] tracking-[0.6px] 2xl:tracking-[2.1px]
    }

    .text-14-300 {
        @apply font-stem-light text-[14px] 2xl:text-[16px] font-light leading-[160%] 2xl:leading-[160%] tracking-[0.42px] 2xl:tracking-[0.48px]
    }

    .text-14-20-300 {
        @apply font-stem-light text-[14px] 2xl:text-[20px] font-light leading-[160%]  tracking-[0.42px] 2xl:tracking-[0.6px]
    }

    .text-14-400 {
        @apply font-stem-regular text-[14px] 2xl:text-[16px] font-normal leading-[160%] 2xl:leading-[150%] tracking-[0.42px] 2xl:tracking-[0.48px]
    }

    .text-button-primary {
        @apply font-stem-regular text-[14px] 2xl:text-[16px] font-normal leading-normal 2xl:leading-[150%] tracking-[2.1px] 2xl:tracking-[2.4px] uppercase
    }

    .text-14-20-300 {
        @apply font-stem-light text-[14px] 2xl:text-[20px] font-light leading-[160%]  tracking-[0.42px] 2xl:tracking-[0.6px]
    }

    .text-16-400 {
        @apply font-stem-light text-[16px] 2xl:text-[20px] font-normal leading-[150%] 2xl:leading-[140%] tracking-[0.48px] 2xl:tracking-[0.6px]
    }

    .text-16-32-400-300 {
        @apply font-stem-light text-[16px] 2xl:text-[32px] font-normal leading-[150%] 2xl:leading-[125%] tracking-[0.48px] 2xl:tracking-[0.6px]
    }

    .text-18-22-24-28-300 {
        @apply font-stem-light text-[18px] md:text-[22px] xl:text-[24px] 2xl:text-[28px] font-light leading-[166%] md:leading-[136%] xl:leading-[125%] 2xl:leading-[107%] tracking-[0.36px] md:tracking-[0.44px] xl:tracking-[0.48px] 2xl:tracking-[0.56px]
    }

    .text-20-300 {
        @apply font-stem-light text-[20px] 2xl:text-[32px] leading-[130%] 2xl:leading-[125%] tracking-[0.4px] 2xl:tracking-[0.64px]
    }

    .text-24-300-xl {
        @apply font-stem-light text-[24px] 2xl:text-[36px] leading-[130%] 2xl:leading-[125%] tracking-[0.4px] 2xl:tracking-[0.72px]
    }

    .text-24-300 {
        @apply font-stem-light text-[24px] 2xl:text-[36px] leading-[130%] 2xl:leading-[125%] tracking-[0.4px] 2xl:tracking-[0.72px]
    }

    .text-26-300 {
        @apply font-stem-light text-[26px] 2xl:text-[40px] leading-[140%] 2xl:leading-[135%] tracking-[0.52px] 2xl:tracking-[0.8px]
    }

    .text-24-26-40-300 {
        @apply font-stem-light text-[24px] leading-[125%] tracking-[0.4px] md:text-[26px] md:leading-[136%] md:tracking-[0.52px] 2xl:text-[40px] 2xl:tracking-[0.8px]
    }

    .text-32-300 {
        @apply font-stem-extra-light font-light text-[32px] 2xl:text-[48px] leading-[140%] 2xl:leading-[125%] tracking-[1.6px] 2xl:tracking-[2.4px] uppercase
    }

    .text-marianna {
        @apply font-marianna text-[36px] md:text-[48px] 2xl:text-[64px] leading-[90%]
    }

    .text-marianna-40 {
        @apply font-marianna text-[40px] font-normal 2xl:text-[64px]
    }

    .tabs-button-active {
        @apply bg-primary text-light
    }


    /*.font-light-10 {*/
    /*    font-family: 'Stem-light', sans-serif;*/
    /*    @apply text-[10px] font-light leading-[14px] tracking-[0.3px] 2xl:text-[14px] 2xl:leading-[22px] 2xl:tracking-[0.42px];*/
    /*}*/
    /*.font-regular-10 {*/
    /*    @apply text-[10px] font-normal leading-normal tracking-[0.6px];*/
    /*}*/
    /*.font-semi-10 {*/
    /*    font-family: 'Stem-semi-light', sans-serif;*/
    /*    @apply text-[10px]*/
    /*}*/
    /*.font-semi-14 {*/
    /*    font-family: 'Stem-semi-light', sans-serif;*/
    /*    @apply text-[14px]*/
    /*}*/
    /*.font-semi-16 {*/
    /*    font-family: 'Stem-semi-light', sans-serif;*/
    /*    @apply text-[16px]*/
    /*}*/

    /*.font-regular-10 {*/
    /*    @apply text-[10px] font-normal leading-normal tracking-[0.6px];*/
    /*}*/
    /*.font-regular-12 {*/
    /*    @apply text-[12px] font-normal leading-[14px] tracking-[0.3px] 2xl:text-[14px] 2xl:leading-normal 2xl:tracking-[2.1px];*/
    /*}*/
    /*.font-light-14 {*/
    /*    font-family: 'Stem-light', sans-serif;*/
    /*}*/
    /*.font-regular-14 {*/
    /*    @apply text-[14px] font-normal leading-[14px] tracking-[0.3px] 2xl:text-[16px] 2xl:leading-[24px] 2xl:tracking-[0.48px];*/
    /*}*/
    /*.font-regular-16 {*/
    /*    font-family: 'Stem-regular', sans-serif;*/
    /*    @apply text-[16px] leading-[22px] tracking-[0.42px];*/
    /*}*/
    /*.font-title {*/
    /*    font-family: 'Stem-light', sans-serif;*/
    /*    @apply text-[32px] leading-[44px] tracking-[1.6px] uppercase 2xl:text-[48px] 2xl:leading-[60px] 2xl:tracking-[2.4px];*/
    /*}*/
    /*.h4-title {*/
    /*    font-family: 'Stem-semi-light', sans-serif;*/
    /*    @apply text-semi-dark text-[20px] leading-[130%] tracking-[0.4px] 2xl:text-[32px] 2xl:tracking-[0.6px]*/
    /*}*/


    /*--- gradients ---*/

    .hero-bg-gradient-top {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 100%);
    }
    .hero-bg-gradient-bottom {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
    }


    /*--- slider ---*/

    .slider-button-outer-active {
        @apply border border-secondary
    }
    .slider-button-inner-active {
        @apply bg-primary
    }

    /*--- hovers ---*/

    .hover-text {
        @apply text-primary-dark
    }

    .hover-bg {
        @apply bg-primary-dark
    }

    .hover-border {
        @apply border-primary-dark
    }

    .hover-input {
        @apply border-primary
    }

}


