@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Stem-semi-light', sans-serif;
}
img {
    width: 100%;
    height: auto;
}

@layer utilities {

    .light {
        @apply text-light;
    }
    .dark {
        @apply text-dark;
    }
    .semi-dark {
        @apply text-semi-dark;
    }
    .primary {
        @apply text-primary;
    }
    .secondary {
        @apply text-secondary;
    }
    .accent {
        @apply text-accent;
    }
    .accent {
        @apply text-accent;
    }
    .grey {
        @apply text-grey;
    }
    .semi-grey {
        @apply text-semi-grey;
    }
    .deep-grey {
        @apply text-deep-grey;
    }

    .flex-center {
        @apply flex justify-center items-center;
    }
    .flex-between {
        @apply flex justify-between items-center;
    }
    .flex-start {
        @apply flex justify-start items-center;
    }

    .font-light-10 {
        font-family: 'Stem-light', sans-serif;
        @apply text-[10px] font-light leading-[14px] tracking-[0.3px] 2xl:text-[14px] 2xl:leading-[22px] 2xl:tracking-[0.42px];
    }
    /*.font-regular-10 {*/
    /*    @apply text-[10px] font-normal leading-normal tracking-[0.6px];*/
    /*}*/
    .font-semi-10 {
        font-family: 'Stem-semi-light', sans-serif;
        @apply text-[10px]
    }
    .font-semi-14 {
        font-family: 'Stem-semi-light', sans-serif;
        @apply text-[14px]
    }
    .font-semi-16 {
        font-family: 'Stem-semi-light', sans-serif;
        @apply text-[16px]
    }


    .font-regular-10 {
        @apply text-[10px] font-normal leading-normal tracking-[0.6px];
    }
    .font-regular-12 {
        @apply text-[12px] font-normal leading-[14px] tracking-[0.3px] 2xl:text-[14px] 2xl:leading-normal 2xl:tracking-[2.1px];
    }
    .font-light-14 {
        font-family: 'Stem-light', sans-serif;
    }
    .font-regular-14 {
        @apply text-[14px] font-normal leading-[14px] tracking-[0.3px] 2xl:text-[16px] 2xl:leading-[24px] 2xl:tracking-[0.48px];
    }
    .font-regular-16 {
        font-family: 'Stem-regular', sans-serif;
        @apply text-[16px] leading-[22px] tracking-[0.42px];
    }
    .font-title {
        font-family: 'Stem-light', sans-serif;
        @apply text-[32px] leading-[44px] tracking-[1.6px] uppercase 2xl:text-[48px] 2xl:leading-[60px] 2xl:tracking-[2.4px];
    }
    .h4-title {
        font-family: 'Stem-semi-light', sans-serif;
        @apply text-semi-dark text-[20px] leading-[130%] tracking-[0.4px] 2xl:text-[32px] 2xl:tracking-[0.6px]
    }
    .marianna {
        font-family: 'Marianna', sans-serif;
        @apply text-[36px] md:text-[48px] 2xl:text-[64px] leading-[90%]
    }

    .hero-bg-gradient-top {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 100%);
    }
    .hero-bg-gradient-bottom {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
    }

    .section {
        @apply my-14 md:my-20 xl:my-32 2xl:my-40
    }
    .section-title {
        font-family: 'Stem-semi-light', sans-serif;
        @apply text-semi-dark text-[26px] leading-[138%] tracking-[0.52px] uppercase 2xl:text-[40px]
    }

}

